<!-- templates/blog/cart.html -->
{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">

{% block content %}
<div class="container mt-4">
    <h2>Корзина</h2>
    {% if order_products %}
        <table class="table">
            <thead>
                <tr>
                    <th>Товар</th>
                    <th>Количество</th>
                    <th>Цена</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for order_product in order_products %}
                    <tr>
                        <td>{{ order_product.product.name }}</td>
                        <td>{{ order_product.quantity }}</td>
                        <td>{{ order_product.product.price }} руб.</td>
                        <td>
                            <a href="{% url 'remove_from_cart' order_product.product.id %}" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- checkout -->
    {% else %}
        <p>Корзина пуста.</p>
    {% endif %}
</div>
{% endblock %}